.magin {
    margin: 0 auto;
}

.background {
    background-color: #1D3354;
}

.font-color a {
    color: white;
    text-decoration: none;
}

.font-color a:hover {
    border-bottom: 2px solid white;
    color: aliceblue;
}

.font-color i {
    color: white;
}

.botao {
    background-color: white;
    color: #1D3354;
    font-weight: bold;
}

.botao:hover {
    background-color: #1D3354;
    color: white;
    transform: scale(1.1);
}

.logo:hover {
    transform: scale(1.2);
}

.font-logo {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.background-sobre {
    background-color: #1D3354;
    color: aliceblue;
}

.game-link a{
    text-decoration: none;
    color: black;
}

.game-link h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1D3354;
}

.botao-game {
    background-color: #1D3354;
    color: aliceblue;
    width: 100%;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.botao-game:hover {
    background-color: aliceblue;
    border: 2px solid #1D3354;
    color: #1D3354;
}

.suporte-back {
        background-color: #1D3354;
        color: aliceblue; 
        cursor: pointer; 
}

.suporte-back a {
    text-decoration: none;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif
}

.suporte-div:hover{
    background-color:#145dca
}

.redes a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.textt li a {
    color: black;
    text-decoration: none;
}

.textt li a:hover {
    color: #145dca;
}

.textt ul {
    list-style-type: none;
}

.sobree img {
    width: 150px;
    height: 150px;
}

@media screen and (min-width:500px) {
    .img-sobre {
        width: 80%;
    }

}

@media screen and (max-width:500px) {
    .img-sobre {
        width: 100%;
    }

    .sobree p{
        font-size: 14px;
    }
    .sobree img {
        width: 120px;
        height: 120px;
    }

}


